body {
font-family: Verdana, sans-serif;
background-color:#a8d5e2;  
color: #555;  
    margin: 0;
    padding: 0;
text-align: center;
}

h1, h2 {
 font-family: Georgia, serif;
}

header {
background-color: #a8d5e2;  
color: #fff;
    padding: 40px 0;
border-bottom: 5px solid #78c7d4;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header p {
    margin: 5px 0;
    font-size: 18px;
}


nav {
background-color: white;  
    padding: 15px 0;
}

nav a {
color: #6b7c8d; 
text-decoration: none;
    padding: 0 25px;
    font-size: 18px;
}

nav a:hover {
color: #5bb2b7;  
    text-decoration: underline;  
}

nav a:active {
    color: #6e8c8a;  
}


main {
    margin: 30px 15px;
}

section {
    margin: 40px 0;  
border: 1px solid #e1e1e1;  
background-color: #ffffff;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); 
    line-height: 1.7; 
}

section h2 {
font-family: Georgia, serif;
    font-size: 28px;
color: #4f5b61;
}

section ul {
list-style-type: none;
    padding: 0;
}

section ul li {
    margin-bottom: 12px;
}

/* Footer */
footer {
background-color: #f1f8f8;
    padding: 20px 0;
color: #777;
    font-size: 14px;
border-top: 5px solid #e1e1e1;
}

footer p {
    margin: 0;
}

body {
 display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
    min-height: 100vh;
}

main {
flex-grow: 1;
}